@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Mooli&family=Poppins:ital,wght@0,100;0,700;1,300;1,500;1,600&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&family=Roboto+Flex:opsz@8..144&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}